html,
body {
  margin: 0;
  background-color: var(--background-color);
}
* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none;
}
/* ------- Global ----- */
:root {
  --background-color: #f3f8ff;
  --font-color: #160f3b;
  --font-color-light: rgba(22, 15, 59, 0.8);
  --white: #ffffff;
  --red: #d7263d;
}